@charset "UTF-8";

@font-face {
  font-family: "TrebuchetMS";
  src: url("./fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

/* https://www.fontsquirrel.com/fonts/web-symbols */
@font-face {
  font-family: "WebSymbolsRegular";
  src: url("./fonts/websymbols-regular-webfont.eot");
  src: url("./fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/websymbols-regular-webfont.woff") format("woff"), url("./fonts/websymbols-regular-webfont.ttf") format("truetype"), url("./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Variables globales */
/* Estilos Generales */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("./img/img2.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "TrebuchetMS";
  color: white;
  font-size: 16px;
  line-height: 1.5em;

}



/* wrap - Marco general */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1250px;
  margin: 0px auto;
}

.gear,
.icon {
  font-family: "WebSymbolsRegular";
}

/* Cabecera */
#header {
  width: 100%;
  height: 70px;
  background-color: black;
  font-family: "BebasNeue";
  color: white;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #37bcf9;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

#logo h3 {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  margin-top: 5px;
  margin-right: 65px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

#logo:hover h3 {
  animation: desdeDerecha 500ms linear;
  -webkit-animation: desdeDerecha 500ms linear;
}

@keyframes desdeDerecha {
  from {
    transform: translateX(200%);
    /* desaparece al estar desplazado */
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
    /* vuelve */
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

#logo:hover {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: black;
  background-color: #ccc;
}

#logo .gear {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  margin-top: 8px;
  margin-left: 26px;
  /* Animación para la Rueda */
  animation-name: rotar-rueda;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotar-rueda {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

#logo:hover .gear {
  animation: desdeAbajo 1s linear;
  -webkit-animation: desdeAbajo 1s linear;
}

@keyframes desdeAbajo {

  /* efecto de desaparecer y volver */
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  50% {
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  height: 70px;
  background: transparent;
}

#menu ul li {
  font-size: 24px;
  display: inline-block;
  /* puedo flotar con el float o bien mediante inline-block. Funcionaría igual */
  margin: 0px 20px 0px 20px;
  letter-spacing: 1px;
  line-height: 70px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

#menu ul li a:hover {
  color: #37bcf9;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

/* Maquetando el Banner */
#banner {
  width: 95.5%;
  height: 100px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  background: url("./image/banner.jpeg");
  background-position: -200px -200px;
  margin: 20px auto;
  animation: banner 10s linear;
  -webkit-animation: banner 10s linear;
  animation-iteration-count: infinite;
}

@keyframes banner {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -200px -200px;
  }
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  color: white;
  font-size: 45px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px black;
  margin: 27px auto;
  animation: muestraTexto 10s linear;
  -webkit-animation: muestraTexto 10s linear;
}

@keyframes muestraTexto {
  0% {
    transform: translateX(-600%) scale(3, 3);
    -webkit-transform: translateX(-600%) scale(3, 3);
    -moz-transform: translateX(-600%) scale(3, 3);
    -ms-transform: translateX(-600%) scale(3, 3);
    -o-transform: translateX(-600%) scale(3, 3);
    opacity: 1;
  }

  50% {
    transform: translateX(600%) scale(3, 3);
    -webkit-transform: translateX(600%) scale(3, 3);
    -moz-transform: translateX(600%) scale(3, 3);
    -ms-transform: translateX(600%) scale(3, 3);
    -o-transform: translateX(600%) scale(3, 3);
    opacity: 1;
  }

  75% {
    transform: translateX(-600%) scale(3, 3);
    -webkit-transform: translateX(-600%) scale(3, 3);
    -moz-transform: translateX(-600%) scale(3, 3);
    -ms-transform: translateX(-600%) scale(3, 3);
    -o-transform: translateX(-600%) scale(3, 3);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }

  100% {
    transform: translateX(0%) scale(1, 1);
    -webkit-transform: translateX(0%) scale(1, 1);
    -moz-transform: translateX(0%) scale(1, 1);
    -ms-transform: translateX(0%) scale(1, 1);
    -o-transform: translateX(0%) scale(1, 1);
    color: white;
    opacity: 1;
  }
}

/* Estilo para el aside */
#sidebar {
  background: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
  color: white;
  /* Color del texto */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px 0;
  /* Margen vertical */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Sombra */
}

#sidebar h3 {
  margin-bottom: 15px;
  font-family: "BebasNeue";
  /* Usando la fuente de tu diseño */
  font-size: 24px;
  /* Tamaño de fuente */
}

#sidebar ul {
  list-style: none;
  /* Quitar estilos de lista */
  padding: 0;
}

#sidebar ul li {
  margin-bottom: 10px;
  /* Espaciado entre elementos de la lista */
}

#sidebar ul li a {
  color: #37bcf9;
  /* Color de los enlaces */
  text-decoration: none;
  /* Quitar subrayado */
  transition: color 0.3s;
  /* Transición suave al cambiar de color */
}

#sidebar ul li a:hover {
  color: #fff;
  /* Cambiar color al pasar el ratón */
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  #sidebar {
    margin: 20px;
  }
}


.container-cabra {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.anchura-aside {
  width: 600px;
}

.container {
  padding: 15px 9%;
  padding-bottom: 100px;
  font-family: "BebasNeue";
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  font-size: 50px;
  font-family: "BebasNeue";
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  height: 80px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  transform: scale(1.03);
}

@media (max-width:768px) {
  .container {
    padding: 20px;
  }

  .container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .anchura-aside img {
    width: 100%;
  }

}

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(./image/background-footer.svg);
  background-size: cover;

  /*background-color: #d0f0f8;
  -webkit-mask-image: url("../Images/background-footer.svg");
  mask-image: url("../Images/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;*/
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer p {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer p:hover {
  opacity: 0.8;
}

.box__footer p .fab {
  font-size: 20px;
}